.navbar {
    background:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    max-width: 93rem;
    z-index: 3;
    margin: 0 auto;
    height: 5rem;
    padding: 1rem,2rem;
    width: 100vw;
    position: sticky;
}
.logo {
    object-fit: cover;
    height: 3rem;
    width: 4rem;
    
} 
.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover {
    color: yellow;
    border-bottom: 3px solid yellow;
    padding-bottom: 0.5rem;

}

.desktopMenuBtn {
   border: none;
   background: white;
   color: black;
   display: flex;
   justify-content: center;
   padding: 0 1rem;
   align-items: center;
   border-radius: 2rem;
   margin-right: 2.5%;
}
.desktopMenuImg {
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}
.active {
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}

.navMenu {
    position: absolute;
    top:4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rem(40,40,40);
    border-radius: 1rem;
}
.mobMenu {
    display: none;
    object-fit: cover;
    height: 1.8rem;
}
.listItem {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
   
    background: rgb(30,30,30);
}

@media screen  and (max-width:720px){
    .mobMenu {
        display:flex
    }
    .desktopMenu {
        display: none;
    }
    .desktopMenuBtn {
        display: none;
    }
    
}